<body class="iframe-mode">
<div class="mx-auto col-12">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
          <div class="input-group col-5 mx-auto mb-3">
            <input type="text" class="form-control"
              formControlName="fname" 
              [ngClass]="{ 'is-invalid': submitted && f['fname'].errors}" 
              placeholder="First name">
          </div>

          <div class="input-group mx-auto col-5 mb-3">
            <input type="text" class="form-control" 
            formControlName="lname"
            [ngClass]="{ 'is-invalid': submitted && f['lname'].errors}"
            placeholder="Last name">
          </div>
          
          <div class="input-group col-5  mb-3 mx-auto">
            <input type="email" class="form-control"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors}"
            placeholder="Email" >
            
          </div>
          <div class="input-group col-5 mb-3 mx-auto">
            <input type="password" class="form-control"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors}"
            placeholder="Password must be at least 8 characters">
            
          </div>
          <div class="row">
            <div class="col-12">
              </div>
            <span class="col-3"></span>
            <div class="col-5 mb-2">
              <button type="submit" class="btn btn-primary btn-block ml-5 ">Register</button>
            </div>
          </div>
        </form>

        
  </div>
  
  </body>

  