<div class="card">
    <div class="card-header">
      <h3 class="card-title">Member management</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table  class="table table-bordered table-striped dataTable">
        <thead>
          <tr>
            <th class="thead">ID</th>
            <th class="thead">Firstname</th>
            <th class="thead">Lastname</th>
            <th class="thead">Email</th>
            <th class="thead">Password</th>
            <th class="thead">role</th>
            <th class="thead">status</th>
            <th class="thead">Delete</th>
            <th class="thead">Update</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of info"
        [ngClass]="{'bg-dark': item.status == 'OFF'}">
        <td class="tbody">{{item.id}}</td>
        <td class="tbody" >{{item.fname}}</td>
        <td class="tbody" >{{item.lname}}</td>
        <td class="tbody" >{{item.email}}</td>
        <td class="tbody" >{{item.password}}</td>
        <td class="tbody">{{item.role}}</td>
        <td class="tbody">{{item.status=='OFF'? 'Fired': 'Hired'}}</td>
        <td class="tbody"><button class="btn btn-danger col-12" (click)="ChangeStatus(item.id,item.status)">Resign</button></td>
        <td class="tbody"><button class="btn btn-warning col-12" [(ngModel)]="item.id" name="getid" ngDefaultControl (click)="ShowID(item.id)"   (click)="passData(item)">Update</button></td>
        </tr>
</tbody>
        </table>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link btn btn-success"  (click)="ShowRe()">Register</a>
          </li>
        </ul>
    </div>
    <!-- /.card-body -->
  </div>
  <app-register [hidden]="showSelect"></app-register>
