<footer>
    <ul class="bg-primary">
        <div class="nav-item">
            <h3>Address</h3>
        </div>
        
        <div>
            <li class="nav-item">This place is far, yet near, fear, yet friendly , handy yet useless just like u trying to read this</li>
        </div>
        <div>
            <li>(+71 1234567890)</li>
        </div>
        <li>name@domain.com</li>
        <div class="nav-item justify-content-end">
            <li>hi</li>
            <li>hi</li> 
        </div>
    </ul>

    
</footer>