<body style="align-self:center;padding-top:20rem;">
    <span style="padding-top:20rem"></span>
<section class="content" style="user-select: auto;">
    <div class="error-page" style="user-select: auto;">
      <h2 class="headline text-danger" style="user-select: auto;"> 404</h2>

      <div class="error-content" style="user-select: auto;">
        <h3 style="user-select: auto;"><i class="fas fa-exclamation-triangle text-warning" style="user-select: auto;"></i> Oops! Page not found.</h3>

        <p style="user-select: auto;">
          We could not find the page you were looking for.
          Meanwhile, you may <a href="../../index.html" style="user-select: auto;">return to Homepage</a> 
        </p>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  
  </section>  </body>