
<footer>
    <div class="footer bg-primary">
      <div class="container">
        <div class="row">
            <div class="row col-5">
                <div class="address">
                  <h3>Address</h3>
                  <ul class="loca">
                    <li>This place is far, yet near, fear, yet friendly , handy yet useless just like u trying to read this</li>
                    <li>(+71 1234567890)</li>
                    <li>name@domain.com</li>
                  </ul>
                </div>
              </div>
              <div class="row col-3"></div>
              <div class="row col-4">
                <div class="address">
                  <h3>Social Link</h3>
                  <ul class="Menu_footer">
                    <li class="active"><b><a href="https://www.twitter.com" class="text-dark">Twitter <i class="fab fa-twitter-square"></i></a></b>
                    </li>
                    <li><b><a href="https://www.facebook.com" class="text-dark">Facebook <i class="fab fa-facebook-square"></i></a></b></li>
                  </ul>
                  
                </div>
              </div>
        </div>
      </div>
    </div>
  
  </footer>