<p>cate-manage works!</p>
<div class="card">
    <div class="card-header">
    <h3 class="card-title">Category management</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <div class="wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-6">
        <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <table  class="table table-bordered table-striped dataTable">
        <thead>
        <tr>
            <th class="thead">ID</th>
            <th class="thead">Name</th>
            <th class="thead">Detail</th>
            <th class = "thead">Status</th>
            <th class="thead">Delete</th>
            <th class="thead">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of info"
        [ngClass]="{'bg-dark': item.status == 'OFF'}">
        <td class="tbody">{{item.id}}</td>
        <td class="tbody">{{item.cate_name}}</td>
        <td class="tbody">{{item.cate_detail}}</td>
        <td class="tbody">{{item.status=='OFF'? 'Hold': 'Sell'}}</td>
        <td class="tbody"><button class="btn btn-danger col-12">Hold</button></td>
        <td class="tbody"><button class="btn btn-warning col-12" [(ngModel)]="item.id" name="getid" ngDefaultControl (click)="ShowID(item.id)">Update</button></td>
        </tr>
</tbody>
        </table>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link btn btn-success"  (click)="ShowRe()">add category</a>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>
<app-cate-add [hidden]="showSelect"></app-cate-add>
